<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Bakery Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Pierre's Bakery Order Tracker</h1>
    <br>
    <h4>Welcome to the Bakery Order Tracker.</h4>
    <h5>Please select from the following options to begin:</h5>
    <h5><a href='/vendors'>View Vendors</a></h5>
    <h5><a href='/vendors/new'>Add a new Vendor</a></h5>
  </body>
</html>